.modal-input {
    margin-top: 0.5rem;
    width: 100%;
}

.modal-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 0.5rem;
}

.modal-button {
    min-width: 5rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}
